.wx-picker-mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: background-color .3s;
    background-color: inherit;
    z-index: 1000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.wx-picker {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 274px;
    z-index: 2048;
    backface-visibility: hidden;
    transform: translate(0, 100%);
    transition: transform .3s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    animation: fadeIn ease .3s forwards;
}

.wx-picker-show {
    transform: translate(0, 0)
}

.wx-picker-hd {
    display: flex;
    padding: 10px 15px;
    background-color: #fbf9fe;
    position: relative;
    text-align: center
}

.wx-picker-action:first-child {
    text-align: left
}

.wx-picker-action:last-child {
    text-align: right
}

.wx-picker-action {
    display: block;
    flex: 1;
    color: #586c94;
    text-decoration: none
}
.container{
     margin:50px 0;
    border-bottom: 1px solid #ccc;
}
.xc-picker-choose{
    color:darkgray;
}

.wx-picker-bd {
    display: flex;
    position: relative;
    background-color: #fff;
    height: 238px;
    overflow: hidden
}

.wx-picker-group {
    flex: 1;
    position: relative;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.wx-picker-mask2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 3;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(0, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
    background-position: top, bottom;
    background-size: 100% 102px;
    background-repeat: no-repeat;
    transform: translate3d(0, 0, 0)
}

.wx-picker-indicator {
    width: 100%;
    height: 34px;
    position: absolute;
    left: 0;
    top: 102px;
    z-index: 3;
    transform: translate3d(0, 0, 0)
}

.wx-picker-indicator:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    transform-origin: 0 0;
    transform: scaleY(0.5)
}

.wx-picker-indicator:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    transform-origin: 0 100%;
    transform: scaleY(0.5)
}

.wx-picker-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.wx-picker-item {
    padding: 5px 0 4px;
    text-align: center;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 25px
}

.wx-picker-item-disabled {
    color: #999
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
